* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.form-title {
    display: flex;
    justify-content: right;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.side-heading {
    align-items: center;
}

.create-project {
    position: relative;
}

.create-project::before, 
.create-project::after {
    scale: 0;
    position: absolute;
    top: -.25rem;
    left: 119%;
}

.create-project::before {
    content: attr(data-tooltip);
    color: white;
    padding: .3rem;
    border-radius: .3rem;
    text-align: center;
    width: max-content;
    max-width: 100%;
    background: #333;
}

.create-project:hover::before,
.create-project:hover::after {
    scale: 1;
}

.create-project::after {
    transform: translateX(-20px) translateY(1px);
    content: '';
    border: 11px solid transparent;
    border-right-color: #333;
}

.new-todo {
    position: relative;
}

.new-todo::before, 
.new-todo::after {
    scale: 0;
    position: absolute;
    top: -.25rem;
    left: 175%;
}

.new-todo::before {
    content: attr(data-tooltip);
    color: white;
    padding: .3rem;
    border-radius: .3rem;
    text-align: center;
    width: max-content;
    max-width: 299%;
    background: #333;
}

.new-todo:hover::before,
.new-todo:hover::after {
    scale: 1;
}

.new-todo::after {
    transform: translateX(-20px) translateY(1px);
    content: '';
    border: 11px solid transparent;
    border-right-color: #333;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

.todos {
    background-color: lightgray;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.todo-element {
    display: grid;
    width: 80%;
    border-radius: 1em;
}

.todo-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.todo-content { 
    flex-direction: column;
    margin: 0;
}

.side-heading {
   justify-content: center;
    display: grid;
    gap: 1em;
}

.default-project, .project-element, .project-btn {
    width: 75%;
    font-size: 1em;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.edit, .delete {
    grid-row: 2;
}

.descriptionDiv {
   display: flex;
   gap: 1em;
   margin-left: 1em;
   align-items: center;
   
}

.priorityDiv {
    display: flex;
    gap: 1em;
    margin-left: 1em;
    align-items: center;
}

.project-btn {
    grid-column: 1 / -1 ;
}

.default-project {
    margin: 1em;
    justify-content: center;
}

button {
    cursor: pointer;
}

.element-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.element-title h2 {
   margin: auto;
}

.element-title button {
    margin: 1em;
}

@media screen and (max-width: 700px) {
    .element-title {
        display: block;
    }
}


