* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}


.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

.todos {
    background-color: lightgray;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.todo-element {
    display: grid;
    width: 80%;
    border-radius: 1em;
}

.todo-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.side-heading {
   justify-content: center;
    display: grid;
    gap: 1em;
}

.default-project, .project-element, .project-btn {
    width: 75%;
    font-size: 1em;
}

.default-project {
    margin: 1em;
    justify-content: center;
}

button {
    cursor: pointer;
}

.element-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.element-title h2 {
   margin: auto;
}

.element-title button {
    margin: 1em;
}

@media screen and (max-width: 700px) {
    .element-title {
        display: block;
    }
}


